# Virtual Environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# Static files
staticfiles/

# Media
media/

# Logs
*.log

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py

.env.docker
ngrok.zip
ngrok/